<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everrefine.elms.infrastructure.mapper.NewsMapper">

  <delete id="deleteNewsById">
    DELETE FROM news
    WHERE
    id = #{id}
  </delete>

  <insert id="createNews" parameterType="com.everrefine.elms.domain.model.news.News">
    INSERT INTO news (
    id,
    title,
    content,
    created_at,
    updated_at
    ) VALUES (
    #{id},
    #{title},
    #{content},
    #{createdAt},
    #{updatedAt}
    )
  </insert>

  <select id="findNews" resultType="com.everrefine.elms.domain.model.news.News">
    SELECT
    *
    FROM
    news
    LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <select id="countNews" resultType="int">
    SELECT COUNT(*) FROM news
    <where>
      <if test="title != null and title != ''">
        title LIKE CONCAT('%', #{title}, '%')
      </if>
      <if test="createdDateFrom != null">
        <![CDATA[
        AND created_at >= CAST(#{createdDateFrom} AS DATE)
         ]]>
      </if>
      <if test="createdDateTo != null">
        <![CDATA[
        AND created_at < CAST(#{createdDateTo} AS DATE) + INTERVAL '1 day'
          ]]>
      </if>
    </where>
  </select>

  <select id="findNewsById" resultType="com.everrefine.elms.domain.model.news.News">
    SELECT
    *
    FROM
    news
  </select>

  <select id="findNewsByIds" resultType="com.everrefine.elms.domain.model.news.News">
    SELECT
    *
    FROM
    news
    WHERE
    id IN
    <foreach close=")" collection="idList" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="findNewsIdsBySearchConditions"
    resultType="com.everrefine.elms.domain.model.pager.SearchPagerForRequest">
    SELECT id FROM news
    <where>
      <if test="title != null and title != ''">
        title LIKE CONCAT('%', #{title}, '%')
      </if>
      <if test="createdDateFrom != null">
        <![CDATA[
        AND created_at >= CAST(#{createdDateFrom} AS DATE)
         ]]>
      </if>
      <if test="createdDateTo != null">
        <![CDATA[
        AND created_at < CAST(#{createdDateTo} AS DATE) + INTERVAL '1 day'
          ]]>
      </if>
    </where>
    LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <update id="updateNews">
    UPDATE news
    SET
    title = #{title},
    content = #{content},
    updated_at = now()
    WHERE id = #{id};
  </update>

</mapper>