<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everrefine.elms.infrastructure.mapper.NewsMapper">

  <delete id="deleteNewsById">
    DELETE FROM news
    WHERE
    id = #{id}
  </delete>


  <insert id="createNews" parameterType="com.everrefine.elms.domain.model.news.News">
    INSERT INTO news (
    id,
    title,
    content,
    createdAt,
    updatedAt
    ) VALUES (
    #{id},
    #{title},
    #{content},
    #{createdAt},
    #{updatedAt}
    )
  </insert>


  <select id="findNewsById" resultType="com.everrefine.elms.domain.model.news.News">
    SELECT
    *
    FROM
    news
    WHERE
    id = #{id}
  </select>

  <select id="findNews" resultType="com.everrefine.elms.domain.model.news.News">
    SELECT
    *
    FROM
    news
    LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <select id="countNews" resultType="int">
    SELECT COUNT(*) FROM news
  </select>


</mapper>